### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [71]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
original_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(original_file)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [72]:
player_count = len(purchase_data_df["SN"].unique())
pc_summary_df = pd.DataFrame({"Total Players": [player_count]})
pc_summary_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [73]:
#unique Items
unique_item_count = len(purchase_data_df["Item Name"].unique())

#average price
average_price = (purchase_data_df["Price"]).mean()

#total number of purchases
total_purchases = (purchase_data_df['Purchase ID']).count()

#total Revenue
total_revenue = sum(purchase_data_df['Price'])

#summarytable
total_summary_df = pd.DataFrame({"Number of Unique Items": [unique_item_count],
                                "Average Price": [average_price],
                                "Number of Purchases": [total_purchases],
                                "Total Revenue": [total_revenue]
                                 })
total_summary_df

format_summary = {'Average Price':'${0:,.2f}', 'Total Revenue': '${0:,.2f}'}
total_summary_df.style.format(format_summary)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [74]:
#group by gender
gender_data_df = purchase_data_df.groupby(['Gender'])

#total count 
unique_gender = gender_data_df.nunique()["SN"]

#percentage of players
per_gender = unique_gender/player_count * 100

# Creating a new DataFrame using both percentage and count
gender_summary_df = pd.DataFrame({"Total Count": unique_gender,
                                   "Percentage of Players": per_gender  
                                 })
gender_summary_df.head()

#formatting
format_summary = {'Percentage of Players':'{0:,.2f}%'
                 }
gender_summary_df.style.format(format_summary)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
#purchase count
purchase_count = (gender_data_df["Purchase ID"]).count()

#Average Purchase Price
avg_purchase = (gender_data_df['Price']).mean()

#Total Purchase Value
total_purchase = (gender_data_df['Price']).sum()

#Avg Total Purchase per Person
avg_total = total_purchase/unique_gender

#summarytable
gender_purchase_df = pd.DataFrame({"Purchase Count": purchase_count,
                                "Average Purchase Price": avg_purchase,
                                "Total Purchase Value": total_purchase,
                                "Avg Total Purchase per Person": avg_total
                                 })
gender_purchase_df.head()

#formatting
format_summary = {'Average Purchase Price':'${0:,.2f}', 
                  'Total Purchase Value': '${0:,.2f}',
                  'Avg Total Purchase per Person': '${0:,.2f}'
                 }
gender_purchase_df.style.format(format_summary)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [76]:
#bins for ages
bins = [0, 9.90, 14, 19, 24, 29, 34, 39, 100]
age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#categories using bins (pd.cut ())
purchase_data_df["Age Groups"] = pd.cut(purchase_data_df["Age"], bins, labels=age_names, include_lowest=True)
purchase_data_df

#group data
age_group_df = purchase_data_df.groupby("Age Groups")

#numbers and percentages by age group
age_count = age_group_df["SN"].nunique()

percent_age = age_count/player_count * 100

#summary table
age_data_df = pd.DataFrame({"Total Count": age_count,
                            "Percentage of Players": percent_age,
                                 })
age_data_df

#formatting
format_summary = {'Percentage of Players':'{0:,.2f}%'
                 }
age_data_df.style.format(format_summary)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [77]:
#group index
age_group_df = purchase_data_df.groupby("Age Groups")

#purchase count
purchase_count_age = age_group_df["Purchase ID"].count()

#average purchase price
average_purchase_price_age = age_group_df["Price"].mean()

#total purchase value
total_value_age = age_group_df["Price"].sum()

#avg total purchase per person
avg_total_person = total_value_age/age_count

#summary table
age_purchase_data_df = pd.DataFrame({"Purchase Count": purchase_count_age,
                                    "Average Purchase Price": average_purchase_price_age,
                                    "Total Purchase Value": total_value_age,
                                    "Avg Total Purchase per Person": avg_total_person
                                    })
age_purchase_data_df

#formatting
format_summary = {'Average Purchase Price':'${0:,.2f}',
                  'Total Purchase Value':'${0:,.2f}',
                  'Avg Total Purchase per Person':'{0:,.2f}%'
                 }
age_purchase_data_df.style.format(format_summary)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [78]:
#group by SN
spenders_df = purchase_data_df.groupby("SN")

#purchase count
spender_count = spenders_df["Purchase ID"].count()

#average purchase price
spender_average = spenders_df["Price"].mean()

#total purchase value
spender_total = spenders_df["Price"].sum()

#summary table
spendersummary_df = pd.DataFrame({"Purchase Count": spender_count,
                                    "Average Purchase Price": spender_average,
                                    "Total Purchase Value": spender_total
                                    })

#sorting descending by total purchase value
topspender_df = spendersummary_df.sort_values("Total Purchase Value", ascending=False)

#formatting & preview
format_summary = {'Average Purchase Price':'${0:,.2f}',
                  'Total Purchase Value':'${0:,.2f}'
                 }
topspender_df.head(5).style.format(format_summary)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [99]:
#groupby item id and item name
popular_df = purchase_data_df.groupby(["Item ID", "Item Name"])

#purchase count
popular_count = popular_df["Purchase ID"].count()

#total purchase value
popular_total = popular_df["Price"].sum()

#item price
popular_price = popular_total/popular_count

#summary table
popularsummary_df = pd.DataFrame({"Purchase Count": popular_count,
                                  "Item Price": popular_price,
                                  "Total Purchase Value": popular_total
                                 })

#sort descending by purchase count
popularsort_df = popularsummary_df.sort_values("Purchase Count", ascending=False)

#formatting & preview 5 rows
format_summary = {'Item Price':'${0:,.2f}',
                  'Total Purchase Value':'${0:,.2f}'
                 }
popularsort_df.head(5).style.format(format_summary)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [100]:
#groupby item id and item name
popular_df = purchase_data_df.groupby(["Item ID", "Item Name"])

#purchase count
popular_count = popular_df["Purchase ID"].count()

#total purchase value
popular_total = popular_df["Price"].sum()

#item price
popular_price = popular_total/popular_count

#summary table
popularsummary_df = pd.DataFrame({"Purchase Count": popular_count,
                                  "Item Price": popular_price,
                                  "Total Purchase Value": popular_total
                                 })

#sort descending by purchase count
popularsort_df = popularsummary_df.sort_values("Total Purchase Value", ascending=False)

#formatting & preview 5 rows
format_summary = {'Item Price':'${0:,.2f}',
                  'Total Purchase Value':'${0:,.2f}'
                 }
popularsort_df.head(5).style.format(format_summary)